.search-product-header {
  position: relative;
    // padding: 0 5px;
    border-radius:  5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
   height: 80px;
   background-color: #ff0036;
//    background-color: rd;
  }
// tab栏
// .catagory-tab-wrapper {
//   .catagory-tab {
//     .catagory-tab-item.active {
     
//       }
    
//   }
// }
//联想容器
.leovoboxHide{
  display: none;
}
.lenovobox {
  border: 1px solid #ff0036;
  border-radius: 5px;
  // display: none;
  overflow: hidden;
  position: absolute;
  top:80px;
  height: 180px;
  width: 100%;
  z-index: 1;
  background-color: white;
  .lenovoUl {
    list-style: none;
    min-height: 100%;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .lenovoLi {
        line-height: 18px;
    }
  }
}

//热门搜索
.hot-search{
  padding: 15px;
    height: 130px;
    width: 100%;
    margin-bottom: 5px;
    // background-color: salmon;
  .hot-search-title{
    font-size: 12px;
    color:#a2a2a2;
  }
  .hot-search-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top:8px;
    .hot-search-items{
      font-family: 'Arial Normal';
      color:#666666;
      border-radius: 5px;
      line-height: 35px;
      text-align: center;
      margin-right: 8px;
      margin-bottom: 10px;
      background-color: #dedede;
      // background-color: skyblue;
      width: 60px;
      height: 35px;

    }
  }
  
}
//历史搜索
.history-search{
  
  padding: 15px;
    height: 130px;
    width: 100%;
    // background-color: salmon;
  .history-search-title{
    font-size: 12px;
    color:#a2a2a2;
  }
  .history-search-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top:8px;
    .history-search-items{
      font-family: 'Arial Normal';
      color:#666666;
      border-radius: 5px;
      line-height: 35px;
      text-align: center;
      margin-right: 8px;
      margin-bottom: 10px;
      background-color: #dedede;
      // background-color: skyblue;
      width: 60px;
      height: 35px;

    }
  }
  
}