// 图标样式
.icon_home {
  font-size: 20px;
}
.icon_cart {
  font-size: 21px;
}
.icon_catagory {
  font-size: 20px;
}
.icon_gift {
  font-size: 20px;
}
.icon_my {
  font-size: 20px;
}
// 选中图标样式

.icon_home_s {
  font-size: 20px;
}
.icon_cart_s {
  font-size: 21px;
}
.icon_catagory_s {
  font-size: 20px;
}
.icon_gift_s {
  font-size: 20px;
}
.icon_my_s {
  font-size: 20px;
}
.am-tab-bar-bar {
  background: #F5F5F8 !important;
}