// 头部
body {
  background: #ffffff;
}

.catagory-header {
  position: relative;
  height: 65px;
  background-color: #ff0036;
        .catagory-list-header-top {
          position: absolute;
          left: 0;
          top: 0;
          height: 20px;
          background-color: #37363c;
          width: 100vw;
          background: url(http://wlanya.oss-cn-shenzhen.aliyuncs.com/2020_08_26/b93c13b8-ff83-bf64-f993-b61e5ce5e41c.png) 100%/100% no-repeat;
        }
  .app-catagory-search {
    position: relative;
    .icon_header-search {
      position: absolute;
      font-size: 5vw;
      left: 27px;
      color: #cdcdcd;
      bottom: 6px;
    }

    .icon_header_speak {
      position: absolute;
      font-size: 5vw;
      bottom: 6px;
      right: 60px;
      color: #cdcdcd;
    }
    .string {
      display: block;
      position: absolute;
      bottom: 9px;
      color: #cdcdcd;
      right: 55px;
    }
    .icon_header_camera {
      position: absolute;
      font-size: 5.5vw;
      bottom: 4px;
      color: #cdcdcd;
      right: 30px;
    }

    .catagory-header-search {
      border: none;
      padding-left: 9vw;
      margin-top: 3.6vh;
      border-radius: 10px;
      margin-left: 5vw;
      height: 30px;
      background-color: white;
      width: 90vw;
    }
  }
}

// tab栏
.catagory-tab-wrapper {
  width: 100vw;
  height: 46px;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
  background: #FFFFFF;
  .catagory-tab {
    position: relative;
    top: 1px;
    width: 255px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    .catagory-tab-item {
      flex: 1;
      height: 100%;
      div {
        font-family: "MicrosoftYaHei", "微软雅黑";
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #666666;
        text-align: center;
        line-height: 45px;
      }
    }

    .active {
      border-bottom: 2px solid #666666;
      div {
        font-family: "微软雅黑 Bold", "微软雅黑";
        font-weight: 700;
      }
    }
  }
}

// 对象
.catagory-type-ob {
  .type-ob-header {
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    .type-ob-title {
      margin: 0 13px;
      font-family: "STHeitiSC-Light", "Heiti SC Light", "Heiti SC";
      font-weight: 200;
      font-style: normal;
      font-size: 13px;
      color: #888888;
    }
    .type-ob-line {
      width: 67px;
      height: 1px;
      background: #888888;
    }
  }

  .type-ob-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .type-ob-content {
      margin: 7px 0 7px 14px;
      .type-ob-item {
        width: 44.4vw;
        height: 95px;
        background: #f2f2f2;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .ob-item-left {
          display: flex;
          flex-direction: column;
          width: 85px;
          .item-left-title {
            font-family: "微软雅黑 Bold", "微软雅黑";
            font-weight: 700;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
          }

          .item-left-des {
            font-family: "MicrosoftYaHei", "微软雅黑";
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #666666;
            line-height: 26px;
            margin-top: 5px;
          }
        }

        .ob-item-right {
          svg {
            color: #717171;
            font-size: 52px;
          }
        }
      }
    }
  }
}



// 商品分类
.catagory-pro {
  width: 100vw;
  display: flex;
  .catagory-pro-tab {
    width: 86px;
    .pro-tab-item {
      background: #efeff4;
      width: 86px;
      height: 50.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        text-rendering: optimizeLegibility;
        color: #888888;
      }
    }
    .active {
      background: #ffffff;
      span {
        font-family: "Arial Negreta", "Arial Normal", Arial;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        color: rgb(51, 51, 51);
      }
    }
  }

  .pro-right {
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    .pro-right-header {
      margin-top: 12px;
      margin-bottom: 10px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      .header-title {
        margin: 0 13px;
        font-family: "STHeitiSC-Light", "Heiti SC Light", "Heiti SC";
        font-weight: 200;
        font-style: normal;
        font-size: 13px;
        color: #888888;

      }
      .header-line {
        width: 44px;
        height: 1px;
        background: #888888;
      }
    }

    .pro-right-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .pro-content-item {
        width: 33%;
        height: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .pro-right-content-top {
          svg {
            color: #747474;
            font-size: 32px;
          }
        }

        .pro-right-content-bottom {
          margin-top: 2px;
          font-family: "MicrosoftYaHei", "Microsoft YaHei";
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          text-align: center;
          line-height: 28px;
        }
      }
    }
  }
}

// 精选店铺
.catagory-shop {

    .catagory-shop-wrap {
      .catagory-shop-item {
        display: flex;
        width: 100vw;
        height: 116px;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
        .shop-item-left {
          margin-left: 10px;
          margin-right: 3px;
          img {
            width: 90px;
            height: 90px;
          }
        }
  
        .shop-item-right {
            margin-left: 10px;
            height: 100%;
            width: 255px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          .shop-item-title {
            font-family: '微软雅黑 Bold', '微软雅黑';
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
          }
  
          .shop-item-des {
            font-family: '微软雅黑';
            font-weight: 410;
            font-style: normal;
            font-size: 14px;
            color: #666666;
          }
  
          .shop-item-rec {
            font-family: '微软雅黑';
            font-weight: 410;
            font-style: normal;
            font-size: 14px;
          }
        }
      }
    }
  }
