.pro-list-header {
  .pro-list-header-top {
    height: 20px;
    background-color: #37363c;
    width: 100vw;
    background: url(http://wlanya.oss-cn-shenzhen.aliyuncs.com/2020_08_26/b93c13b8-ff83-bf64-f993-b61e5ce5e41c.png) 100%/100% no-repeat;
  }
  .am-navbar {
    height: 45px;
    background: #37363c;
    .am-navbar-title {
      font-family: "MicrosoftYaHei-Bold", "Microsoft YaHei Bold",
        "Microsoft YaHei";
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      text-decoration: none;
      color: #ffffff;
    }
    .am-icon-md {
      color: white;
      font-weight: 800;
    }
  }
}

.pro-list-tab {
  height: 45px;
  width: 100vw;
  .pro-list-tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .pro-list-tab-item {
      font-size: 14px;
      font-family: "STHeitiSC-Light", "Heiti SC Light", "Heiti SC";
      font-weight: 200;
      font-style: normal;
      font-size: 14px;
      color: #999999;
      line-height: 45px;
    }

    .active {
        font-weight: bold;
        color: rgb(51, 51, 51);
    }
  }
}

.pro-list-recommend-product {
  padding-top: 20px;
  background: #efeff4;
  // 商品标题
  .recommend-product-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // 推荐商品子选项
    .recommend-product-item {
      margin-bottom: 15px;
      width: 44.4vw;
      background-color: white;
      .recommend-product-img {
        img {
          width: 100%;
        }
      }
      // 商品描述
      .product-explain-box {
        padding: 0 6px;
        height: 50px;
        display: flex;
        align-items: center;
        .recommend-product-explain {
          font-family: "STHeitiSC-Light", "Heiti SC Light", "Heiti SC";
          font-weight: 200;
          font-style: normal;
          font-size: 14px;
          color: #555555;
          line-height: 23px;
        }
      }

      // 推荐商品价格
      .recommend-product-price {
        padding: 0 6px;
        b {
          font-weight: normal;
          font-family: "微软雅黑 Bold", "微软雅黑";
          font-weight: 700;
          font-style: normal;
          font-size: 16px;
          text-align: left;
          line-height: 26px;
          color: #333333;
        }
      }
    }
  }
}
